data/mothur/raw/*
data/temp/*
.DS_Store
*Rproj*
data/process/*groups
data/process/*fasta
data/process/*count_table
data/process/*taxonomy
data/process/*list
data/process/*dist
data/mothur/*
data/raw/*
data/references/*data/mothur/raw/*
data/temp/*
.DS_Store
*Rproj*
data/process/*fasta
data/process/*count_table
data/mothur/*
data/raw/*
data/references/*
