# Auto detect text files and perform LF normalization
** text=auto
*.smk linguist-language=Python
*.R linguist-language=R
*.html linguist-detectable=false

*.Rmd linguist-language=R
manuscript.tex linguist-vendored=true
mbio.csl linguist-vendored=true
references.bib linguist-vendored=true
