# Data directories
/data/**
!/data/**/
!/data/metadata/SraRunTable.txt

#results
results/ml/opticlust_denovo/
results/ml/optifit_self/
results/ml/optifit_gg/
results/ml/vsearch_denovo/
results/ml/vsearch_gg/
# !results/ml/summary/

# Log files
logs/slurm/*
logs/mothur/*

# Snakemake
/.snakemake/**
/smk_optifit-*.out

# Misc
.DS_Store
*Rproj*
.Rproj.user
.Rhistory
Rplots.pdf
rulegraph.pdf
.vscode
