# Data directories
/data/**
!/data/**/
!/data/metadata/SraRunTable.txt

#results
/results/ml/*
!/results/ml/summary/

# Log files
logs/slurm/*
logs/mothur/*

# Snakemake
/.snakemake/**
/smk_optifit-*.out

# Misc
.DS_Store
*Rproj*
.Rproj.user
.Rhistory
Rplots.pdf
rulegraph.pdf
.vscode
